.header-nav {
  display: none;
  @media screen and (min-width: 880px) {
    display: block;
  }
  &__item {
    display: inline-block;
    margin-left: 32px;
    font-size: 1.6rem;
    position: relative;
    @media screen and (min-width: 520px) {
      font-size: 1.7rem;
    }
    @media screen and (min-width: 880px) {
      font-size: 1.8rem;
    }
    &.active,
    &:hover {
      transition: var(--transition-2);
      color:var(--white);
    }
    &.active::before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
}