// Text
.text-danger {
  font-size: 1.4rem;
  padding: 0.85rem;
  color: var(--red);
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: left;
}

.text-end {
    text-align: right;
}

// Border
.border {
    border: 1px solid var(--teal);
}

.border-top {
    border-top: 1px solid var(--teal);
}

.border-bottom {
    border-bottom: 1px solid var(--teal);
}

.border-right {
    border-right: 1px solid var(--teal);
}

.border-left {
    border-left: 1px solid var(--teal);
}

// Rounded
.rounded {
  border-radius: 10px;
}

// Flex
.flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .items-center {
    align-items: center;
  }
  
  .items-start {
    align-items: flex-start;
  }
  
  .items-end {
    align-items: flex-end;
  }
// Clearfix
.clearfix {
    display: block;
    clear: both;
  }
  